* {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-button {
  background-color: #393a3b;
  height: 0px;
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
}

::-webkit-scrollbar-track-piece {
  background-color: #393a3b;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

ul {
  list-style: none;
}

#panorama {
  width: 100vw;
  height: 100vh;
}

.hotspot {
  height: 46px;
  width: 176px;
  background: url("./assets/warn6.png") no-repeat;
  /* background-color: rgba(0, 0, 0, 0.8); */
  background-size: 100% 100%;
  /* border-radius: 50%; */
  transition-property: backgroundColor, width, height;
  transition-duration: 0.3s;
  cursor: pointer !important;
}

#bubble2 {
  background-image: url("./assets/warn7.png");
}

#bubble3 {
  background-image: url("./assets/warn8.png");
}

#bubble4 {
  background-image: url("./assets/warn9.png");
}

#bubble5 {
  background-image: url("./assets/warn10.png");
}

#bubble6 {
  background-image: url("./assets/warn11.png");
}

div.tooltip span {
  visibility: hidden;
  position: absolute;
  border-radius: 3px;
  background-color: #fff;
  color: #000;
  text-align: center;
  max-width: 200px;
  padding: 5px 10px;
  margin-left: -220px;
  cursor: default;
}

div.tooltip:hover span {
  visibility: visible;
}

div.tooltip:hover span:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  bottom: -20px;
  left: -10px;
  margin: 0 50%;
}

.navs {
  position: fixed;
  left: 100px;
  top: 30px;
  z-index: 10;
  display: flex;
}

.navs .nav {
  background-color: aqua;
  width: 180px;
  height: 40px;
  background: url("./assets/menu_item.png") no-repeat;
  background-size: 100% 100%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  cursor: pointer;
}

.navs .nav>img {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.navs .nav .items {
  width: 100%;
  padding-top: 10px;
}

.navs .nav .items .item {
  width: 100%;
  margin-bottom: 10px;
  background: url("./assets/item_bg1.png") no-repeat;
  background-size: 100% 100%;
}

.navs .nav .items .item img {
  margin-left: 10px;
}

.navs .nav .items .item:hover {
  background-image: url("./assets/item_bg2.png");
}

.navs .nav.left {
  margin-right: 50px;
}

.navs .nav .items {
  display: none;
}

/* 弹窗 */
#dialog {
  /* border: 1px solid #dad8d8; */
  width: 60%;
  height: 70%;
  border: 1px solid #1beaff;
  border-radius: 5px;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  padding: 10px;
  display: none;
}

/* #dialog img {
  width: 600px;
} */

#dialog>.close {
  width: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

#dialog>.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

#dialog>.content .item {
  /* flex: 1; */
  width: 33%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

#dialog>.content .item:last-child {
  margin-right: 0;
}

#dialog>.content .item .title {
  width: 100%;
  height: 40px;
  background-color: #1beaff;
  line-height: 40px;
  text-align: center;
  margin-bottom: 10px;
}

#dialog>.content .item .list {
  width: 100%;
  flex: 1;
  border: 1px solid #808487;
  padding: 10px;
  border-radius: 3px;
  box-sizing: border-box;
  overflow: auto;
}

#dialog>.content .item .list .list-item {
  margin-bottom: 10px;
}

#dialog>.content .item .list .list-item>span {
  display: inline-block;
  width: 75%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#dialog>.content .warn-images .list .list-item {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding-left: 12px;
  box-sizing: border-box;
  border: 2px solid #f3c706;
  background-color: #8d7a27;
  color: #fff;
  cursor: pointer;
}

#dialog>.content .warn-images .list .list-item.forbid {
  color: #aaa;
  cursor: not-allowed;
}

#dialog>.content .warn-images .list .list-item.blue {
  border: 2px solid #029fec;
  background-color: #105777;
}

#dialog>.content .warn-images .list .list-item.blue2 {
  border: 2px solid #1b588f;
  background-color: #193e5d;
}

#dialog>.content .warn-images .list .list-item.yellow.active {
  color: #000;
  font-weight: bold;
  border: 2px solid #f3c706;
  background-color: #f3c706;
  position: relative;
}

/* #dialog>.content .warn-images .list .list-item.yellow.active */

#dialog>.content .warn-images .list .list-item.blue.active {
  color: #000;
  font-weight: bold;
  border: 2px solid #029fec;
  background-color: #029fec;
  position: relative;
}

#dialog>.content .warn-images .list .list-item.blue2.active {
  color: #000;
  font-weight: bold;
  border: 2px solid #1b588f;
  background-color: #1b588f;
  position: relative;
}

#dialog>.content .warn-images .list .list-item.yellow.active::after,
#dialog>.content .warn-images .list .list-item.blue.active::after,
#dialog>.content .warn-images .list .list-item.blue2.active::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #f3c706;
  position: absolute;
  right: -3px;
  top: 50%;
  transform: rotate(45deg) translateY(-50%);
}

#dialog>.content .warn-images .list .list-item.blue.active::after {
  background-color: #029fec;
}

#dialog>.content .warn-images .list .list-item.blue2.active::after {
  background-color: #1b588f;
}

#dialog>.content .warn-images .list .list-item img {
  margin-right: 5px;
  vertical-align: 12px;
}

/* 具体内容 */
#dialog>.content .summary .list .list-item .item-title {
  height: 35px;
  width: 100%;
  line-height: 35px;
  background: url('./assets/content_bg.png') no-repeat;
  background-size: 100% 100%;
  color: white;
  text-align: center;
}

#dialog>.content .summary .list .list-item .context {
  color: #fff;
  margin: 10px 0;
  font-size: 14px;
}

#dialog>.content .summary .list .list-item .context .context-item {
  padding: 5px 0;
  border-bottom: 1px solid #3c3836;
}

#dialog>.content .summary .list .list-item .context .context-item:first-child {
  padding-top: 0px;
}

#dialog>.content .summary .list .list-item .context .context-item .way-title {
  color: #1beaff;
}

/* 视频/案例 */
#dialog>.content .files .list .cases .list-item {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding-left: 12px;
  box-sizing: border-box;
  border-bottom: 1px solid #454547;
  color: #fff;
  cursor: pointer;
}

#dialog>.content .files .list .cases .list-item img {
  margin-right: 5px;
  vertical-align: 12px;
}

#dialog>.content .files .list .videos .list-item {
  width: 100%;
}

#dialog>.content .files .list .videos .list-item video {
  width: 100%;
}

/* 图片弹窗 */
#img-dialog {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  margin: 0;
  display: none;
  z-index: 10;
}

#img-dialog>.content {
  width: 35%;
  height: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#img-dialog>.content>.close {
  width: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  z-index: 10;
}

#img-dialog>.content>.img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}